<launch>

    <arg name="gui" default="true" />
    <arg name="debug" default="false" />
    <param name="/use_sim_time" value="true" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be
    launched -->
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rmus_map_gazebo)/mesh" />
    <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rmus_map_gazebo)/mesh" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rmus_map_gazebo)/world/2023_v_4_1.world" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="debug" value="$(arg debug)" />
    </include>

    <!-- mecanum -->
    <!-- <include file="$(find zm_robot_description)/launch/zm_robot_spawn.launch" /> -->

    <!-- omni -->
    <!-- <include file="$(find omni3ros_pkg)/launch/velocity_controller.launch" /> -->
    <!-- nornal -->
    <include file="$(find sentory_description)/launch//* file_name */" />
</launch>